### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

# Compiled Java
*.class
*.jar
build/
target/

# IDE
.idea/
*.iml
*.eclipse
*.project
*.classpath

# JDBC driver local (no subir el .jar al repo)
lib/mysql-connector-*.jar

# Sistema operativo
Thumbs.db

# Logs
*.log